@font-face {
    font-family: 'Pexel Groktesk';
    src: url(fonts/PexelGrotesk-Regular.woff2);
}

@font-face {
    font-family: 'Voyage Bold';
    src: url(fonts/voyage-bold.woff2);
}

@font-face {
    font-family: 'Palast Font';
    src: url(fonts/PalastDisplay-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Palast Font';
    box-sizing: border-box;
}

*::selection {
    background: beige;
    color: #111;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #000;
}

#mobile {
    display: none;
}

#main {
    overflow-x: hidden;
    background: #111111;
}

#crsr {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    border: 1px solid bisque;
    mix-blend-mode: difference;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#loader {
    height: 100vh;
    width: 100%;
    background: rgb(12, 12, 11);
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    /* display: none; */
}

#loader img {
    position: absolute;
    width: 10vw;
    object-fit: cover;
    filter: brightness(.4);
    border: 1px solid beige;
    border-radius: 5%;
    filter: drop-shadow(0 0 150px rgba(245, 245, 220, 0.175));
}

#loader p {
    font-size: 1.5vw;
    position: relative;
    font-family: 'Pexel Groktesk';
    top: 10vw;
    font-weight: 100;
    text-transform: uppercase;
    color: wheat;
    letter-spacing: 1px;
}

#loader span {
    font-family: 'Voyage Bold' !important;
    font-style: italic;
    font-size: 1.2vw;
    margin: .5vw;
}

#page1 {
    width: 100%;
    height: 100vh;
    color: #f0f0f0;
    background-color: #131313;
    position: relative;
}

#page1>img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    width: 100%;
    padding: 2vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav>h4 {
    font-size: 2vw;
    text-transform: uppercase;
    font-family: 'Pexel Groktesk';
    font-weight: 300;
}

nav i {
    cursor: pointer;
    transform-origin: center;
    font-weight: 100;
    font-size: 3vw;
    color: #fff;
    transition: all 200ms ease;
    position: relative;
}

#nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

#nav2 h4 {
    font-size: 1.25vw;
    font-weight: 200;
    font-family: 'Pexel Groktesk';
    text-transform: uppercase;
}


#menu {
    width: 100%;
    height: 100vh;
    background: #f0f0f0;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 9;
    padding: 2vw 4vw;
    display: flex;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
}

#menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

#menu i {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transform-origin: center;
    font-size: 3vw;
    font-weight: 100;
    color: #000;
    transition: all 200ms ease;
}

#menu h1 {
    font-size: 10vw;
    color: #000;
    opacity: 0;
    font-weight: 100;
    font-family: 'Pexel Groktesk';
    border-bottom: 3px solid #000;
}

#menu-bar {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 1vw;
}

#menu-bar h2 {
    width: 70%;
    text-align: right;
    font-size: 7vw;
    font-weight: 100;
    font-style: italic;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100%);
    position: relative;
}

#menu-bar h2:hover {
    padding-right: 5vw;
}

#menu-bar h2:nth-last-child(1)::after {
    content: "(formality hai, it won' t open anything)";
    position: absolute;
    bottom: -10%;
    right: 0;
    font-size: 1vw;

}

#socials {
    width: 30%;
    height: 65%;
}

#socials h4 {
    font-size: 2vw;
    text-align: right;

    color: #000;
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
    opacity: 0;
    cursor: pointer;
}

#socials h4:nth-last-child(1) {
    font-size: 1vw;
    margin-top: 1vw;
}

#socials h4:hover {
    padding-right: 2vw;
}

#menu a {
    color: #000;
    text-decoration: none;
}

#hero {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8vw;
    position: relative;
    cursor: default;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    transition: all 147ms ease-out;
    padding: 0;
}


.hero h1 {
    display: inline-block;
    font-family: 'Voyage Bold';
    font-size: 20vw;
    text-align: left;
    font-weight: 100;
    line-height: 40vw;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0px;
    transition: all ease-in-out 200ms;
    filter: drop-shadow(10px 15px 0px rgba(255, 255, 255, 0));
    transform: translateY(75%);
}

.hero h1:hover {
    filter: drop-shadow(0px 0px 50px rgba(245, 245, 220, 0.33));
}


#page2 {
    width: 100%;
    height: 85vh;
    background: #111111;
    color: #efefef;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    padding: 5vw;

}

#page2 h1 {
    font-family: 'Pexel Groktesk';
    font-size: 6vw;
    font-weight: 900;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2vw;
    filter: drop-shadow(-.5vw .5vw 0 #f5f5dc66) drop-shadow(0 0 50px #f5f5dc66);
}

#page2 p {
    color: #fff;
    text-align: center;
    font-size: 1vw;
    font-style: italic;
    margin-bottom: 1vw;
    text-transform: uppercase;
}

#aboutPara {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 1vw 0;
}

#page2 #aboutPara h5 {
    position: relative;
    font-size: 2vw;
    width: 100%;
    font-weight: 400;
    line-height: 3.5vw;
    letter-spacing: -1px;
    text-align: center;

}

#page2 #aboutPara h5 span {
    font-size: 2vw;
    margin: 1vw;
    font-style: italic;
    font-weight: 100;
    color: beige;
    filter: drop-shadow(.15vw .15vw .5vw burlywood);
}

#page3 {
    width: 100%;
    height: 75vh;
    background: #111111;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    z-index: 3;
}

#page3 h1 {
    font-family: 'Pexel Groktesk';
    font-size: 6vw;
    font-weight: 900;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1vw;
    filter: drop-shadow(-.5vw .5vw 0 #f5f5dc66) drop-shadow(0 0 50px #f5f5dc66);
}

#page3>p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1vw;
    font-style: italic;
}

.elem {
    width: 100%;
    height: 15vh;
    background: beige;
    padding: 1vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 157ms ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 9;
    border: 1px solid beige;
}

.elem:hover {
    padding: 1vw 5vw;
    color: beige;
}

.elem::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #000;
    transition: all 300ms ease;
    z-index: 2;
}

.elem:hover::before {
    width: 100%;
}

.elem:nth-child(2n)::before {
    left: 0;
}


.elem h2 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-weight: 100;
    z-index: 8;
}

.elem h2 span {
    margin: 1vw;
    font-weight: 900;
    font-style: normal;
}

.elem p {
    font-size: 1.4vw;
    font-weight: 900;
    z-index: 8;
}

.elem i {
    font-weight: 100;
    font-size: 3vw;
    transition: all 340ms ease;
    z-index: 8;
    transform-origin: center;
}

.elem:hover i {
    rotate: 90deg;
    scale: .8
}

#page4 {
    width: 100%;
    height: 80vh;
    background: #111111;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: relative;
    z-index: 3;
}

#page4 h1 {
    font-family: 'Pexel Groktesk';
    font-size: 6vw;
    font-weight: 900;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    filter: drop-shadow(-.5vw .5vw 0 #f5f5dc66) drop-shadow(0 0 50px #f5f5dc66);
}

#page4 p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1vw;
    font-style: italic;
}

#scroller {
    width: fit-content;
    height: 10vh;
    background: beige;
    margin-top: 5vw;
    display: flex;
    transform-origin: center;
    color: #000;
}

#scroller2 {
    width: fit-content;
    height: 10vh;
    background: wheat;
    display: flex;
    transform-origin: center;
    transform: translateX(-40%);
    color: #000;

}

.scroller-in {
    display: inline-block;
    height: 100%;
    white-space: nowrap;
}

.scroller-in h4 {
    display: inline-block;
    font-size: 4vw;
    margin-right: 2vw;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: all 250ms ease;
    font-family: 'Pexel Groktesk';
}

.scroller-in h4:nth-child(2n) {
    font-style: italic;
    font-family: 'PixelGroktesk';
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.scroller-in h4:hover {
    position: relative;
    bottom: .5vw;
    filter: drop-shadow(-.25vw -.25vw 0 #000);
}

#page5 {
    width: 100%;
    height: 100vh;
    background: #111111;
}

#page5 h1 {
    font-size: 44.5vw;
    line-height: 35vw;
    white-space: nowrap;
    transform: translateX(0%);
    font-family: 'Voyage Bold';
    color: beige;
}

#page5 p {
    padding: 1vw 5vw;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-size: 1vw;
    font-style: italic;
}

#page6 {
    width: 100%;
    height: fit-content;
    background: #111;
    display: flex;
    flex-direction: column;
}

#page6 h6 {
    padding: 1vw 2vw;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-size: 2vw;
    font-family: 'pexel grotesk';
    margin: 2vw;
}

#page6 p,
#page6 a {
    padding: 1vw;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1vw;
    font-style: italic;
    position: relative;
    z-index: 9;
    background: #111;
    backdrop-filter: blur(10px);
    width: 100%;

}

#projects {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 1vw 4vw;
    flex-wrap: wrap;
}

.proj {
    height: 100%;
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.projContainer {
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: 8;
}

.projContainer img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}


.proj:nth-child(1) {
    margin-top: 10vw;
}

.overlay {
    width: 100%;
    height: 100%;
}

#footer {
    width: 100%;
    height: fit-content;
    background: #111;
    padding: 2vw;
    color: beige;
}

#footer h1 {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 400;
}

#footer-middle {
    width: 100%;
    height: fit-content;
    padding: 2vw 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

#footer-middle h1 {
    font-size: 15vw !important;
    white-space: nowrap;
    font-family: 'Voyage Bold' !important;
    border-bottom: 1px solid beige;
}

.contact {
    height: fit-content;
    width: 100%;
    padding: 4vw 0;
    display: flex;
    justify-content: space-between;
}

.contact h2 {
    font-size: 4vw;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2vw;
}

.contact p {
    text-align: left;
    font-size: 1vw;
}

.contact a {
    color: beige;
    font-size: 1.3vw
}

#footer-btm {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 1vw;
}

#footer-btm p,
#footer-btm a {
    font-size: 4vw;
    font-family: 'Pexel Groktesk';
    text-decoration: none;
    color: beige;
}

@media (max-width:800px) {

    #mobile {
        display: block;
        background: beige;
        width: 100%;
        height: 100vh;
        padding: 10vw 5vw;
        display: flex;
        align-items: start;
    }

    #mobile p {
        color: #111;
        font-size: 5vw;
        line-height: 6vw;
    }

    #main {
        display: none;
    }

    #crsr {
        display: none;
    }

    #menu {
        display: none;
    }

    #loader {
        display: none;
    }
}